
<%= button_to "Log out", destroy_user_session_path, method: :delete %>
<h1><%= current_user.first_name %> Accounts</h1>

<br/>
<%= link_to "add Account", new_account_path %>
<h3> Your Account </h3>
<ul>
  <% @accounts.each do |account| %>
    <li>
      <%= account.name %> $<%= account.balance %>
    </li>
  <% end %>

</ul>